.prof-lista{
    margin: 3.2rem auto;
    width: 90%;
    width: 70rem;
}

.prof-lista .prof-items{
    background-color: white ;
    /* border: 1px solid var(--color-button-2-hover); */
    border-radius: 0.8rem;
    margin-top: 2.4rem;
    overflow: hidden;
}

.prof-items header{
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.prof-items header img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover
}

.prof-items header div{
    margin-left: 2.4rem;
}

.prof-items header div strong{
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-background-card);
}

.prof-items header div span{
    font-size: 1.7rem;
    display: block;
    color: var(--color-button);
    margin-top: 0.4rem;
}

.prof-items > p{
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}

.prof-items footer{
    padding: 3.2rem 2rem;
    margin-top: 3.2rem;
    display: block;

}

.prof-items .dividir{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prof-items footer p strong{
    color: rgb(10, 216, 10);
    font-size: 1.6rem;
    display: inline;
}

.prof-items .faltas p strong{
    color: red;
    font-size: 1.6rem;
    display: block;
}

.prof-items footer .buttons{
    display: flex;
}

.prof-items footer button{
    width: 8rem;
    height: 5rem;
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.4rem Archivo;
    margin-left: 2rem;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    transition: 0.2s;
}

.prof-items footer button:last-child{
    background-color: red;
}

.prof-items footer button:hover{
    background-color: blueviolet;
}

.prof-items footer button img{
    width: 4rem;
    height: 4rem;
}

@media (max-width: 700px){
    .prof-lista{
        width: 90%;
    }
}