.tabela{
    max-width: 704px;
    width: 64%;
    margin: 2.4rem auto;
    background: white;
}

.tabela table, tr, th, td{
    border: 1px solid;
    border-spacing: 2px;
    border-collapse: collapse;
    text-align: center;

}

.tabela tr, th, td{
    padding: 2rem;
}

.tabela table .portugues{
    background-color: aqua;
}

.tabela table .ingles{
    background-color: blue;
}

.tabela table .quimica{
    background-color: rgb(10, 221, 10);
}

.tabela table .fisica{
    background-color: gold;
}

.tabela table .matematica{
    background-color: rgb(228, 58, 185);
}

.tabela table .geografia{
    background-color: lavender;
}

.tabela table .historia{
    background-color: cadetblue;
}



.tabela table .intervalo{
    background-color: rgb(247, 52, 52);
}

.tabela table .almoco{
    background-color: coral;
}