#page{
    width: 100vW;
    height: 100vh;
}

.page-header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-card);
}

.page-header .top-bar-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-title-in-origin);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a{
    height: 3.2rem;
    transition: opaicty 0.2s;
}

.page-header .top-bar-container a:hover{
    opacity: 0.6;
}

.page-header .top-bar-container img{
    height: 4rem;
}

.page-header .header-content{
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong{
    font: 700 3.6rem Poppins;
    line-height: 4.2rem;
    color: var(--color-title-in-origin);
}

.page-header .header-content h3{
    margin-top: 2rem;
    color: var(--color-text-top);
}