#page{
    width: 100vw;
    height: 100vh;
}

.sobre{
    text-align: center;
    width: 80%;
    /* height: 66.5%; */
    background-color: white;

    margin: 0 5rem;
    margin: 0 auto;

    padding: 2rem;
}

.sobre p{
    width: 70%;
    margin: 0 auto;
}

.foto{
    display: flex;
    align-items: center;
    margin: 8rem 0;
    justify-content: center;
}

.foto img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 4rem;

}

.suporte h5{
    font-size: 2.4rem;
}

.suporte p{
    font-size: 1.6rem;
}