:root {
    font-size: 60%;

    --color-background: #EEEEEE;
    --color-button-1: #683192;
    --color-button-hover: #a020f0;
    --color-button-2: #9932CC;
    --color-button-2-hover: #8B008B;
    --color-button-3: #BA55D3;
    --color-button-3-hover:#9932CC;
    --color-button-4: #00FF00;
    --color-background-purple: #8257E5;
    --color-button: #04D361;
    --color-title: #32264D;
    --color-title-in-origin: #FFFFFF;
    --color-text-in-origin: #D4C2FF;
    --color-text-top: #f0ecf7;
    --color-subtitles: #9C98A6;
    --color-background-card: #A020F0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
}

body {
    background: var(--color-background);
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body, input, textarea {
    font: 500 1.6rem Poppins;
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px){
    :root {
        font-size: 62.5%;
    }
}